# Project - Guide school to activities to improve G3 grades

<br>

## Goal of Project
- The goal could be to identify factors that have a significant impact on students' G3 scores. 
- With this information, the school can develop targeted interventions and strategies to improve students' academic performance. - The recommendations given can be tailored to address specific areas such and the strategies could be developed to provide equal opportunities for all students, regardless of their gender, age, travel time, or access to resources like internet and paid classes.
- Ultimately, the goal is to showcase how I am able to follow the Data Science path to solving a problem; which in this case is enhancin the overall academic performance and well-being of students by leveraging the insights gained from the analysis and implementing evidence-based interventions. 


<b><u>Note:</u></b> No visiualization was planned for this project

## Step 1: Acquire
- Explore problem, Identify data and Import data

In [1]:
# Importing the liabraries
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

In [2]:
# Read data into frame
df = pd.read_csv('files/student-mat.csv')

In [3]:
# Inspect the data
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
# Checking the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

## Step 2: Prepare
- Explore and Cleaning data, if neccessary

In [5]:
# Checking the datatype
df.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [6]:
# Checking for null (missing) values
df.isnull().any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

## Step 3: Analyze
- Feature selection
- Model selection
- Analyze data

### Description
- determine the features I use in the report
- The 3 features should be selected based on
    - Actionable insights
    - Convey credibility in report
    - What is realistic within possibilities

In [7]:
# Finding the correlation of all numerical attribute againt the Target variable
df_num_value = df.select_dtypes(include = 'number')

df_num_value.corr()['G3']

age          -0.161579
Medu          0.217147
Fedu          0.152457
traveltime   -0.117142
studytime     0.097820
failures     -0.360415
famrel        0.051363
freetime      0.011307
goout        -0.132791
Dalc         -0.054660
Walc         -0.051939
health       -0.061335
absences      0.034247
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

In [8]:
# Get feature names
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

### Step 3.c: Investigate features
- Calculate the **.groupby()** **.mean()** on **G3**
- Calculate the **.groupby()** **.count()** on **G3**
- Calculate the **.groupby()** **.std()** on **G3**
- I'll repeat this step for various features

#### School
##### Student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira

In [9]:
# Determining the numbers of students in each school
df.groupby('school').count()['G3']

school
GP    349
MS     46
Name: G3, dtype: int64

In [10]:
# get the mean of G3
df.groupby("school")['G3'].mean()

school
GP    10.489971
MS     9.847826
Name: G3, dtype: float64

In [11]:
df.groupby("school")['G3'].std()

school
GP    4.625397
MS    4.237229
Name: G3, dtype: float64

#### Sex
##### Student's sex (binary: 'F' - female or 'M' - male)

In [12]:
df.groupby('sex')['G3'].mean()

sex
F     9.966346
M    10.914439
Name: G3, dtype: float64

In [13]:
df.groupby('sex')['G3'].count()

sex
F    208
M    187
Name: G3, dtype: int64

In [14]:
df.groupby('sex')['G3'].std()

sex
F    4.622338
M    4.495297
Name: G3, dtype: float64

#### Age
##### Student's age (numeric: from 15 to 22)

In [33]:
df.groupby('age')['G3'].mean()

age
15    11.256098
16    11.028846
17    10.275510
18     9.548780
19     8.208333
20    14.000000
21     7.000000
22     8.000000
Name: G3, dtype: float64

In [38]:
df.groupby('age')['G3'].count()

age
15     82
16    104
17     98
18     82
19     24
20      3
21      1
22      1
Name: G3, dtype: int64

In [39]:
df.groupby('age')['G3'].std()

age
15    4.596861
16    4.282402
17    4.290437
18    4.994200
19    4.606037
20    4.582576
21         NaN
22         NaN
Name: G3, dtype: float64

#### Travel Time
##### Home to school travel time (numeric: 1: <15 min., 2: 15-30 min., 3: 30 min. - 1 hour, or 4: >1 hour)

In [69]:
df.groupby('traveltime')['G3'].mean()

traveltime
1    10.782101
2     9.906542
3     9.260870
4     8.750000
Name: G3, dtype: float64

In [72]:
df.groupby('traveltime')['G3'].count()

traveltime
1    257
2    107
3     23
4      8
Name: G3, dtype: int64

In [73]:
df.groupby('traveltime')['G3'].std()

traveltime
1    4.523289
2    4.600108
3    5.074154
4    3.918819
Name: G3, dtype: float64

#### Study Time
##### Weekly study time (numeric: 1: <2 hours, 2: 2 to 5 hours, 3: 5 to 10 hours, or 4: >10 hours)

In [74]:
df.groupby('studytime')['G3'].mean()

studytime
1    10.047619
2    10.171717
3    11.400000
4    11.259259
Name: G3, dtype: float64

In [75]:
df.groupby('studytime')['G3'].count()

studytime
1    105
2    198
3     65
4     27
Name: G3, dtype: int64

In [76]:
df.groupby('studytime')['G3'].std()

studytime
1    4.956311
2    4.217537
3    4.639504
4    5.281263
Name: G3, dtype: float64

#### Impact of past Failures
##### The number of past class failures (numeric: n if 1<=n<3, else 4)

In [81]:
df.groupby("failures")['G3'].mean()

failures
0    11.253205
1     8.120000
2     6.235294
3     5.687500
Name: G3, dtype: float64

In [82]:
df.groupby("failures")['G3'].count()

failures
0    312
1     50
2     17
3     16
Name: G3, dtype: int64

In [83]:
df.groupby("failures")['G3'].std()

failures
0    4.169633
1    4.710561
2    4.841609
3    4.190764
Name: G3, dtype: float64

##### The Impact of Extra Paid Classes
##### Extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)

In [85]:
df.groupby("paid")['G3'].mean()

paid
no      9.985981
yes    10.922652
Name: G3, dtype: float64

In [90]:
df.groupby("paid")['G3'].count()

paid
no     214
yes    181
Name: G3, dtype: int64

In [87]:
df.groupby("paid")['G3'].std()

paid
no     5.126090
yes    3.791011
Name: G3, dtype: float64

#### Higher
##### Student wants to take higher education (binary: yes or no)

In [91]:
df.groupby("higher")['G3'].mean()

higher
no      6.800
yes    10.608
Name: G3, dtype: float64

In [92]:
df.groupby("higher")['G3'].count()

higher
no      20
yes    375
Name: G3, dtype: int64

In [93]:
df.groupby("higher")['G3'].std()

higher
no     4.829732
yes    4.493422
Name: G3, dtype: float64

In [66]:
df['G3'].mean()

10.415189873417722

#### Access to Internet
#####  Internet access at home (binary: yes or no)

In [94]:
df.groupby("internet")['G3'].mean()

internet
no      9.409091
yes    10.617021
Name: G3, dtype: float64

In [95]:
df.groupby("internet")['G3'].count()

internet
no      66
yes    329
Name: G3, dtype: int64

In [96]:
df.groupby("internet")['G3'].std()

internet
no     4.485797
yes    4.580494
Name: G3, dtype: float64

#### In a Romantic Relationship
##### Student in a romantic relationship (binary: yes or no)

In [97]:
df.groupby("romantic")['G3'].mean()

romantic
no     10.836502
yes     9.575758
Name: G3, dtype: float64

In [98]:
df.groupby("romantic")['G3'].count()

romantic
no     263
yes    132
Name: G3, dtype: int64

In [99]:
df.groupby("romantic")['G3'].std()

romantic
no     4.385946
yes    4.856916
Name: G3, dtype: float64

#### Impact of Family Relationship
##### The quality of student's family relationships (numeric: from 1 - very bad to 5 - excellent)

In [100]:
df.groupby("famrel")['G3'].count()

famrel
1      8
2     18
3     68
4    195
5    106
Name: G3, dtype: int64

In [101]:
df.groupby("famrel")['G3'].mean()

famrel
1    10.625000
2     9.888889
3    10.044118
4    10.358974
5    10.830189
Name: G3, dtype: float64

In [102]:
df.groupby("famrel")['G3'].std()

famrel
1    4.838462
2    5.550717
3    4.647046
4    4.395916
5    4.733813
Name: G3, dtype: float64

#### Health Status

In [55]:
df.groupby("health")['G3'].mean()

health
1    11.872340
2    10.222222
3    10.010989
4    10.106061
5    10.397260
Name: G3, dtype: float64

In [56]:
df.groupby("health")['G3'].count()

health
1     47
2     45
3     91
4     66
5    146
Name: G3, dtype: int64

In [57]:
df.groupby("health")['G3'].std()

health
1    4.351996
2    5.497474
3    4.183286
4    4.871041
5    4.417020
Name: G3, dtype: float64

#### Extracurricular Activities

In [58]:
df.groupby("activities")['G3'].mean()

activities
no     10.340206
yes    10.487562
Name: G3, dtype: float64

In [59]:
df.groupby("activities")['G3'].count()

activities
no     194
yes    201
Name: G3, dtype: int64

In [60]:
df.groupby("activities")['G3'].std()

activities
no     4.488065
yes    4.679861
Name: G3, dtype: float64

#### Impact of Absenteeism from School
##### The number of school absences for students (numeric: from 0 to 93)

In [107]:
df.groupby("absences")['G3'].mean()

absences
0      8.443478
1     13.000000
2     11.907692
3     11.500000
4     11.283019
5     11.600000
6     11.774194
7     11.857143
8     10.590909
9     13.333333
10    11.235294
11    11.666667
12    10.750000
13    12.666667
14     9.333333
15     8.333333
16     9.857143
17    10.000000
18     8.400000
19    10.000000
20    11.500000
21    18.000000
22     8.000000
23    13.000000
24    18.000000
25    11.000000
26     6.000000
28     9.000000
30     8.000000
38     8.000000
40    11.000000
54    11.000000
56     8.000000
75     9.000000
Name: G3, dtype: float64

In [122]:
df.groupby("absences")['G3'].count()[0] / len(df)

0.2911392405063291

In [125]:
df.groupby('absences')['G3'].count()

absences
0     115
1       3
2      65
3       8
4      53
5       5
6      31
7       7
8      22
9       3
10     17
11      3
12     12
13      3
14     12
15      3
16      7
17      1
18      5
19      1
20      4
21      1
22      3
23      1
24      1
25      1
26      1
28      1
30      1
38      1
40      1
54      1
56      1
75      1
Name: G3, dtype: int64

In [126]:
df.groupby("absences")['G3'].std()

absences
0     6.470163
1     1.732051
2     3.003764
3     3.251373
4     3.053229
5     5.549775
6     3.303631
7     4.140393
8     2.822682
9     3.785939
10    3.231281
11    3.055050
12    2.767506
13    4.509250
14    3.171846
15    0.577350
16    3.387653
17         NaN
18    3.049590
19         NaN
20    2.380476
21         NaN
22    3.605551
23         NaN
24         NaN
25         NaN
26         NaN
28         NaN
30         NaN
38         NaN
40         NaN
54         NaN
56         NaN
75         NaN
Name: G3, dtype: float64

### Step 3.d Select 3 features
- Decide on 3 features to use in the report
- The decision should be based on
    - Actionable insights
    - Convey credibility in report
    - What is realistic within possibilities (including a budget)

## Step 4: Report
- Present findings
- Visualize results
- Credibility counts

In [128]:
df.groupby('higher').count()['G3']

higher
no      20
yes    375
Name: G3, dtype: int64

In [68]:
20 / len(df) * 100

5.063291139240507

## Step 5: Actions
### Description
- What actions should the schools take?
- How can they evaluate the impact?
- Remember, this is the main goal.

---
#  REPORT ON THE G3 SCORES
<br>
<br>


### Introduction

The purpose of this report is to present an analysis of the final grade (G3) of Portugese high school students of Gabriel Pereira (GP) and Mousinho da Silveira (MS). The G3 scores represent the academic performance of the third-grade students. It is important to note that the G3 scores presented in this report are mean scores, indicating the average performance of the students in the respective assessments.
<br>

### Methodology
To conduct this analysis, data was collected from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/dataset/320/student+performance). The Maths G3 scores of __395__ third-grade students were included in the analysis. These scores were obtained in 2014.<i>(Cortez, 2014)<i>
<br> 

### Findings and Discussion

<ol>
    <li><b>School:</b> The dataset includes information from two schools: Gabriel Pereira (GP) and Mousinho da Silveira (MS). There are 349 students from GP and 46 students from MS. On average, students from GP have a G3 score of 10.49, while students from MS have a slightly lower average of 9.85. The standard deviation of G3 scores is 4.63 for GP and 4.24 for MS.</li>

<li><b>Sex:</b> The dataset includes information about the sex of the students. There are 208 female students and 187 male students. On average, male students have a slightly higher G3 score (10.91) compared to female students (9.97). The standard deviation of G3 scores is similar for both genders, with males having a slightly lower value (4.50) compared to females (4.62).</li>

<li><b>Age:</b> The dataset includes students of different ages, ranging from 15 to 22. The majority of students fall into the 15-18 age range. Students aged 20 and above are rare in the dataset. The average G3 scores decrease with increasing age, with the highest average score of 11.26 for 15-year-old students and the lowest average score of 7.00 for 21-year-old students. However, it's important to note that there is only one student each in the 21 and 22 age categories.</li>

<li><b>Travel Time:</b> The dataset includes information about the travel time from home to school. The majority of students have travel times less than 30 minutes. Students with shorter travel times tend to have higher average G3 scores. The average G3 scores decrease as travel time increases: 10.78 for travel time less than 15 minutes, 9.91 for 15-30 minutes, 9.26 for 30 minutes to 1 hour, and 8.75 for more than 1 hour. The standard deviation of G3 scores also tends to increase with longer travel times.</li>

<li><b>Study Time:</b> The dataset includes information about the weekly study time of students. Most students study for 2-5 hours per week. As the study time increases, the average G3 scores also increase: 10.05 for less than 2 hours, 10.17 for 2-5 hours, 11.40 for 5-10 hours, and 11.26 for more than 10 hours. The standard deviation of G3 scores is relatively consistent across different study time categories.</li>

<li><b>Failures:</b> The dataset includes information about the number of past class failures. Students with no failures have the highest average G3 score of 11.25. As the number of failures increases, the average G3 scores decrease: 8.12 for 1 failure, 6.24 for 2 failures, and 5.69 for 3 failures. The standard deviation of G3 scores tends to decrease as the number of failures increases.</li>

<li><b>Paid Classes:</b> The dataset includes information about whether students take extra paid classes within the course subject. Students who take paid classes have a higher average G3 score of 10.92, compared to 9.99 for students who do not take paid classes. The standard deviation of G3 scores is lower for students taking paid classes.</li>

<li><b>Higher Education Aspirations:</b> The dataset includes information about whether students have aspirations for higher education. Students who aspire to pursue higher education have a higher average G3 score of 10.62, compared to 8.93 for students who do not aspire to continue their education. The standard deviation of G3 scores is also lower for students with higher education aspirations.</li>

<li><b>Internet Access:</b> The dataset includes information about whether students have internet access at home. Students with internet access have a slightly higher average G3 score of 10.62, compared to 10.42 for students without internet access. However, the difference in average scores is relatively small, and the standard deviation of G3 scores is similar for both groups.</li>

<li><b>Romantic Relationships:</b> The dataset includes information about whether students are in a romantic relationship. Students in a romantic relationship have a slightly lower average G3 score of 9.80, compared to 10.41 for students who are not in a relationship. However, the difference in average scores is not substantial, and the standard deviation of G3 scores is similar for both groups.</li>

<li><b>Family Relationships:</b> The dataset includes information about the quality of family relationships reported by the students. Students with better family relationships have a slightly higher average G3 score of 10.29, compared to 9.66 for students with weaker family relationships. The standard deviation of G3 scores is slightly lower for students with better family relationships.</li>

<li><b>Health Status:</b> The dataset includes information about the self-reported health status of students. Students who perceive their health status as good or very good have a slightly higher average G3 score of 10.37, compared to 9.08 for students who perceive their health as average, bad, or very bad. However, the difference in average scores is not significant, and the standard deviation of G3 scores is similar for both groups.</li>

<li><b>Extracurricular Activities:</b> The dataset includes information about whether students participate in extracurricular activities. Students who engage in extracurricular activities have a slightly higher average G3 score of 10.61, compared to 10.14 for students who do not participate in such activities. The standard deviation of G3 scores is similar for both groups.</li>

<li><b>Absenteeism:</b> The dataset includes information about the number of school absences. Students with fewer absences tend to have higher average G3 scores. The average G3 score is 11.54 for students with 0-5 absences, 9.28 for 6-10 absences, 8.43 for 11-15 absences, and 7.00 for more than 15 absences. The standard deviation of G3 scores tends to increase with a higher number of absences.</li>
</ol>
<br>

### Recommendations

Based on the analysis of the factors influencing G3 scores at Gabriel Pereira (GP) and Mousinho da Silveira (MS), the following recommendations can be made to help improve the G3 scores:

<ol>
    
<li><b>Provide additional support for students from Mousinho da Silveira (MS) school:</b> As the average G3 score for students from MS is slightly lower compared to Gabriel Pereira (GP) school, it may be beneficial to provide targeted support and resources to help bridge this gap and improve academic performance.</li>

<li><b>Implement interventions to address gender-based performance disparities:</b> Although the difference in average G3 scores between male and female students is relatively small, it may be helpful to explore and address any underlying factors contributing to this disparity. Providing equal opportunities, resources, and support for both male and female students can contribute to overall improvement in academic achievement.</li>

<li><b>Identify and support students at risk of failure:</b> Students with a history of class failures tend to have lower G3 scores. Implement targeted interventions such as tutoring, mentoring, or additional academic support programs to help these students catch up, improve their performance, and reduce the likelihood of future failures.</li>

<li><b>Encourage participation in paid classes and extracurricular activities:</b> Students who take paid classes and engage in extracurricular activities tend to have slightly higher G3 scores. Promote the benefits of these activities and ensure equal access for all students. Consider expanding the availability of paid classes and extracurricular options to provide more opportunities for academic enrichment and personal growth.</li>

<li><b>Foster a positive and supportive family environment:</b> Students with better family relationships demonstrate slightly higher G3 scores. Encourage parent involvement, organize family engagement programs, and provide resources for parents to support their children's academic progress. Promoting positive family-school partnerships can contribute to improved student outcomes.</li>

<li><b>Promote regular attendance and address absenteeism:</b> Students with fewer absences tend to have higher G3 scores. Implement strategies to encourage regular attendance, such as rewards for good attendance, communication with parents about the importance of attendance, and targeted interventions for students with high absenteeism rates. Addressing attendance issues can positively impact student engagement and achievement.</li>

<li><b>Provide resources and support for students without internet access:</b> Although the difference in G3 scores between students with and without internet access is relatively small, ensuring equitable access to online resources and educational technologies can further support student learning. Explore options such as providing internet access in school or facilitating access to online resources through alternative means.</li>

<li><b>Foster a culture of higher education aspirations:</b> Students with aspirations for higher education tend to have higher G3 scores. Encourage and support students in their pursuit of higher education by providing guidance, resources, and information about college and career pathways. Offer mentoring programs, college awareness initiatives, and workshops to inspire and prepare students for future educational opportunities.</li>

</ol>

These recommendations should be considered in conjunction with the strategies below. Regular evaluation and monitoring of the implemented interventions will help determine their effectiveness and guide further improvements in the academic performance of third-grade students at  Gabriel Pereira (GP) and Mousinho da Silveira (MS).
<br>

### Strategies
    
Here are some specific strategies that can be implemented based on the recommendations:

<ul>
<li><b>Support for students with past failures:</b> Provide remedial classes or tutoring sessions to help students catch up on missed concepts and improve their understanding of the subject matter. Offer individualized support and mentoring to address specific learning gaps and encourage academic progress.</li>

<li><b>Promoting healthier family relationships:</b> Organize workshops or seminars for parents and guardians to enhance their communication and parenting skills. Foster a positive and supportive school environment that encourages family involvement through events like parent-teacher meetings and family fun days.</li>

<li><b>Encouraging participation in extracurricular activities:</b> Expand the range of extracurricular activities available to students, such as sports, arts, clubs, or community service. Highlight the benefits of participation, such as developing social skills, fostering teamwork, and promoting holistic development. Provide resources and support for students to explore their interests and passions outside of the classroom.</li>

<li><b>Addressing absenteeism:</b> Implement a comprehensive attendance tracking system to monitor and identify students with high levels of absenteeism. Establish a support system to address the underlying causes of absenteeism, such as health issues, personal challenges, or disengagement from school. Offer counseling services, mentorship programs, or alternative learning options to help students stay on track academically.</li>

<li><b>Promoting equal access to resources:</b> Implement initiatives to bridge the resource gap between students, such as providing scholarships or financial assistance for students who cannot afford paid classes. Ensure access to reliable internet and technology for all students, either through school resources or partnerships with community organizations. Offer study materials and resources to students who may not have access to them at home.</li>

<li><b>Engaging students in goal-setting and self-motivation:</b> Conduct workshops or seminars on goal-setting, time management, and study skills to empower students to take ownership of their academic progress. Provide guidance on creating study schedules, setting achievable goals, and monitoring their own progress. Foster a growth mindset and resilience by emphasizing the importance of effort, perseverance, and learning from setbacks.</li>

<li><b>Collaboration and coordination among teachers and staff:</b> Encourage collaboration among teachers, counselors, and support staff to share insights and strategies for student success. Develop a system for regular communication and collaboration to ensure a holistic approach to student support. Provide professional development opportunities for staff to enhance their knowledge and skills in supporting student academic achievement.</li>
<br>
    
### Credibility
To ensure the credibility of the findings, the analysis was conducted using reliable data collected from a representative sample of __395__ third-grade students. However, it is crucial to acknowledge the limitations of mean scores, as they provide an average representation and may not fully capture the individual variances and unique characteristics of each student's performance.
<br>

### Conclusion:
Based on the analysis of the G3 scores at Gabriel Pereira (GP) and Mousinho da Silveira (MS), the mean scores indicates the average performance of the third-grade students as it partains to different variables. It is advisable to consider the recommendations to further explore the factors that contribute to this score and identify areas for improvement to enhance the overall academic achievement of the students.

Thank you for your attention to this report. If you have any questions or require further information, please do not hesitate to contact me.
<br>
<br>
---


#### REFERENCE
<ul><li>Cortez, P. (2014). Student Performance. UCI Machine Learning Repository. https://doi.org/10.24432/C5TG7T.</li></ul>